.backButton {
  position:absolute; 
  left: 20px; 
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.backButton:hover {
  font-weight: bold;
}

.titleNav {
  font-weight: 700;
  font-size: 18px;
}

.navResp {
  margin-left: 2px
}

/* Responsive styles*/
@media screen and (max-width: 800px) {

  .titleNav {
    font-weight: 700;
    font-size: 16px;
  }

  .navResp {
   display: none;
  }

}