
<div>
  <div class="fixedBottomLeft background1" [ngStyle]="{'filter': screen === 1 ? getBlur(0) : screen === 2 ? getBlur(20) : getBlur(40)}">
    <img width="100%" src="../assets/images/background/1.svg"/>
  </div>
  <div *ngIf="screen >= 2" class="fixedBottomRight background2" [ngStyle]="{'filter': screen === 2 ? getBlur(0) : getBlur(5)}">
    <img width="100%" src="../assets/images/background/2.svg"/>
  </div>
  <div *ngIf="screen === 3" class="fixedBottomLeft background3">
    <img width="100%" src="../assets/images/background/3.svg"/>
  </div>
</div>
