
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #243442;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0px !important;
  }

  .content {
    display: flex;
    margin: 0px;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .navBar {
    position: sticky;
    top: 0;
    width: 100vw;
  }

  .bottomBackground {
    position: fixed;
    bottom: -5px;
    width: 105vw;
  }


